<div class="scroller" data-photoURL={{photoURL}} data-title={{title}} data-description={{description}} data-carbs={{carbs}} data-fat={{fat}} data-protein={{protein}}>
    <div class="scroller-contents">
                    <div class="scroller-img-box">
                        <img class="scroller-img" src={{photoURL}} alt={{title}}>
                    </div>
                    <div class="scroller-title-box">
                        <h2 class="scroller-title">{{title}}</h2>
                    </div>
                    <div class="scroller-description-box">
                        <p class="scroller-description">{{description}}</p>
                    </div>
                    <div class="scroller-macros-box">
                        <span class="macro-span">C:{{carbs}}</span>
                        <span class="macro-span">F:{{fat}}</span>
                        <span class="macro-span">P:{{protein}}</span>


                    </div>
    </div>
</div>